@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-purple-50: #f5f0ff;
  --color-purple-100: #ede5ff;
  --color-purple-200: #dccfff;
  --color-purple-300: #c3a9ff;
  --color-purple-400: #a67aff;
  --color-purple-500: #8c6cff;
  --color-purple-600: #7c3aed;
  --color-purple-700: #6d28d9;
  --color-purple-800: #5b21b6;
  --color-purple-900: #4c1d95;
  --color-purple-950: #2e1065;
}
